fastapi
uvicorn[standard]
python-dotenv
requests
python-multipart
neo4j
pymupdf
python-docx
pytesseract
pillow
pypdf
odfpy
slowapi
google-auth>=2.0.0
google-api-python-client>=2.0.0
openpyxl
reportlab
